# requirements.txt
langchain
langchain-google-genai
langchain-groq
langchain-openai
langchain-community
langgraph-supervisor
langgraph
langsmith
python-dotenv
reportlab
pandas
plotly
kaleido
streamlit